Flask==2.2.2
fuzzywuzzy==0.18.0
numpy==1.23.5
pandas==1.5.3
gunicorn==20.1.0
openpyxl==3.0.9
filelock==3.3.2
python-Levenshtein==0.12.2
secrets
sqlite3
Werkzeug
filelock
prettytable
langchain
datetime


